@model UpdateOrderStatusModel
@* @{
    Layout = "_AdminLayout";
    ViewData["Title"] = "UpdatePaymentStatus";
}
*@

<h2 class="mt-4" >Изменить статус заказа</h2>

<form style="width: 50%;" asp-action="UpdateOrderStatus" class="m-2 mt-4 pt-2">

    <input type="hidden" asp-for="OrderId" />
    
    <div class="mb-2">
        <select class="form-control" asp-for="OrderStatusId" asp-items="@Model.OrderStatusList">
            <option value="">
                Выберите статус заказа
            </option>
        </select>
        <span class="text-danger" asp-validation-for="OrderStatusId"></span>
    </div>
    <button type="submit" class="btn mt-2 btn-primary">Изменить</button>

    @if (TempData["msg"] != null)
    {
        <div class="text-info my-2">
            @TempData["msg"]
        </div>
    }
</form>