@model GenreDTO

<div style="width:500px">

    <h2 class="m-4">Добавить жанр</h2>

    <form asp-action="AddGenre">

        <div class="my-2">
            <label>Жанр</label>
            <input type="text" class="form-control" asp-for="GenreName" />
            <span asp-validation-for="GenreName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info mt-2">Добавить</button>
        </div>

    </form>
</div>